apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres-stset
  namespace: postgres
spec:
  serviceName: postgres-svc
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:18.1
#          resources:
#            limits:
#              cpu: "150m"
#              memory: "50Mi"
          imagePullPolicy: "IfNotPresent"
          ports:
            - name: web
              containerPort: 5432
          envFrom:
            - configMapRef:
                name: postgres-config
          env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: admin-password
          volumeMounts:
            - name: pgdata
              mountPath: /data
  volumeClaimTemplates:
    - metadata:
        name: pgdata
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: "standard-rwo"
        resources:
          requests:
            storage: 1Gi