apiVersion:  gateway.networking.k8s.io/v1beta1
kind: Gateway
metadata:
  name: cutlass-gateway
  namespace: project
spec:
  gatewayClassName: gke-l7-global-external-managed
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: All
        kinds:
          - kind: HTTPRoute