apiVersion: batch/v1
kind: Job
metadata:
  name: ch-postgres-init
  namespace: postgres
spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: init
          image: postgres:18.1

          command:
            - "sh"
            - "-c"
            - |
              until pg_isready -h postgres-svc.postgres -U admin -d postgres; do sleep 2; done
              for f in /sql/*.sql; do
                psql -v ON_ERROR_STOP=1 -h postgres-svc.postgres -U admin -d postgres -f "$f"
              done
          env:
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: admin-password
          volumeMounts:
            - name: sql
              mountPath: /sql
      volumes:
        - name: sql
          configMap:
            name: postgres-init-sql
